:root {
  --max-width: 1200px;
  --accent-color: #7396AF;
  --padding: 3.375em;
}

main {
  flex: 1 0 auto;
}
p {
  text-align: justify;
}
.container {
  width: 100%;
  max-width: var(--max-width);
  padding: 0 var(--padding);
  margin: auto;
}
@media screen and (min-width: 1201px) {
  .container {
    padding: 0px;
  }
}

@media screen and (max-width: 680px) {
  .container {
    padding: 0 20px;
  }
}
.mb{
  margin-top: 5em;
}

@media screen and (max-width: 680px){
  .mb{
    margin-top: 0em;
      margin-bottom: 3em;
  } 
}

.text {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #51524d;
}

.text_breadcrumbs {
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  color: #51524d;
  text-decoration: none;
}
.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0em;
  background-color: #ffffff;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(102, 100, 101, 0.3);
  z-index: 10;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
  }
}

.logo {
  width: 16.396em;
}

@media screen and (max-width: 980px) {
  .logo {
    width: 163px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
  }
}

.header .main-nav {
  position: relative;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media screen and (max-width: 680px) {
  .header{
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.25);
  }
}
@media screen and (max-width: 680px) {
  .header .main-nav {
    position: static;
  }
}

.header__menu-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  gap: 1vw;
  align-items: center;
  color: #51524d;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  margin-right: 29px;
}

.header__menu-item {
  padding-top: 1.3em;
  padding-bottom: 1.2em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  white-space: nowrap;
}
@media screen and (max-width: 980px) {
  .header__menu-list {
    font-size: 0;
    transition: none;
  }
  .header__menu-list a {
    transition: none;
  }
  .main-nav.is-active .header__menu-list {
    font-size: 12px;
    position: absolute;
    top: 60px;
    left: 0;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    background: #fff url(../images/shadow.jpg) repeat-x;
    width: 100%;
    gap: 0;
    border-top: 1px solid rgba(102, 100, 101, 0.5);
  }
  .header__menu-item {
    padding: 0;
  }
}

.header__menu-link {
  text-decoration: none;
  color: #51524d;
  display: flex;
  padding-top: 1.1em;
  padding-bottom: 1em;
  transition: all 0.3s ease-in;
  text-transform: uppercase;
}

.link_clients{
  font-size: 16px;
}

.header__menu-link:hover {
  color: var(--accent-color);
}

.header__menu-item._active {
  background: var(--accent-color);
}
.header__menu-item._active .header__menu-link,
.header__menu-item._active .header__menu-link:hover {
  color: #fff;
}

@media screen and (max-width: 980px) {
  .header__menu-item._active {
    background: unset;
    .header__menu-link{
      color: #90aec4;
    }
  }
  .header__menu-link{
   padding: 0.6em;
  
  }  
}
.main-nav__toggle {
  display: none;
  background: transparent;
  border: none;
  width: 16px;
  height: 9px;
  cursor: pointer;
  position: relative;
  z-index: 5;
  padding: 0;
}
@media screen and (max-width: 980px) {
  .main-nav__toggle {
    display: block;
    position: absolute;
  }
}
@media screen and (max-width: 680px) {
  .main-nav__toggle {
    top: 28px;
    right: 20px;
  }
}
.main-nav__toggle span {
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background: #51524d;
  transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
  transform-origin: 50%;
}
.main-nav__toggle span:nth-child(1) {
  top: 0;
}
.main-nav__toggle span:nth-child(2) {
  top: calc(50% - 0.5px);
}
.main-nav__toggle span:nth-child(3) {
  bottom: 0px;
}
.main-nav__toggle.is-active span {
  background: #51524d;
  width: 90%;
  margin-left: 2px;
}
.main-nav__toggle.is-active:hover span {
  background: var(--accent-color);
}

.main-nav__toggle.is-active span:nth-child(1) {
  transform: rotate(135deg);
  margin-top: 4px;
}
.main-nav__toggle.is-active span:nth-child(2) {
  opacity: 0;
}
.main-nav__toggle.is-active span:nth-child(3) {
  transform: rotate(-135deg);
  margin-bottom: 4px;
}

.search_btn-open {
  display: inline-block;
  width: 36px;
  height: 36px;
  font-size: 0;
  background: #CDD9E2 url(../images/search.svg) 50% 50%
    no-repeat;
  /* margin-left: 29px; */
}
@media screen and (max-width: 980px) {
  .search_btn-open {
    margin-right: 35px;
  }
}
.search_btn-open:hover {
  background: #90aec4 url(../images/search_hover.svg) 50% 50% no-repeat;
}
.search_btn-close {
  display: inline-block;
  width: 36px;
  height: 36px;
  font-size: 0;
  flex-shrink: 0;
  background: url(../images/close.svg) 50% 50% no-repeat;
  &:hover {
    background: url(../images/close_hover.svg) 50% 50% no-repeat;
  }
}
.search_btn {
  border: none;
  display: flex;
  height: 100%;
  background: var(--accent-color);
  color: #fff;
  padding: 0 30px;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}
.search_btn:hover {
  background: #dfe7ee;
  color: #51524d;
}

.search {
  display: none;
  position: absolute;
  background: #fff url(../images/search.svg) 55px 50% no-repeat;
  height: 100%;
  width: 100%;
  right: 0;
  align-items: center;
  padding-left: 80px;
}
.search.open {
  display: flex;
}
.search input {
  border: none;
  background: #fff;
  width: calc(100% - 100px);
  outline: none;
}
@media screen and (max-width: 980px) {
  .search.open {
    display: block;
    padding: 20px;
    top: 60px;
    background: #fff;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .search input {
    width: 100%;
    padding: 10px;
    background: #f5f7f9;
    margin-bottom: 10px;
  }
  .search_btn {
    display: inline-block;
    height: 42px;
  }
  .search_btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

.cover {
  background-image: url(../images/cover.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  height: 25em;
  min-height: 246px;
}
@media screen and (max-width: 680px) {
  .cover {
    height: 246px;
  }
}
.cover_title {
  font-size: clamp(2rem, 10vw, 5.65em);
  font-weight: 700;
}

.cover_text {
  font-size: clamp(0.8em, 1.4vw, 122px);
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.5em;
  margin-top: 1.3em;
}

.lots_title {
  padding-top: 2.56em;
  padding-bottom: 1.5em;
}

.card {
  background-color: var(--accent-color);
  padding: 0.625em;
  margin-right: 0.625em;
  margin-bottom: 0.625em;
  cursor: pointer;
  height: 9.45em;
  width: 12.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.3s ease-in;
  color: #fff;
}
.card span {
  display: block;
}

@media screen and (max-width: 860px) {
  .card {
    width: 100%;
    height: auto;
    padding: 18px;
  }
  .card span {
    display: unset;
  }
}

.card__text {
  font-family: Muller;
  font-size: 1.15em;
  line-height: 140%;
  text-align: center;
}

@media screen and (max-width: 680px) {
  .card__text {
    font-size: 16px;
  }
}

.card:hover {
  background-color: #CDD9E2; /* цвет фона при наведении */
  color: #51524d; /* цвет текста при наведении */
}

.lots_title {
  color: #51524d;
  display: flex;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  padding-bottom: 3.2em;
}
@media screen and (max-width: 860px) {
  .lots__card-list {
    flex-direction: column;
    padding-bottom: 35px;
  }
}

.lost_link {
  display: flex;
  justify-content: center;
  font-family: Muller;
  font-size: 1.15em;
  font-weight: 500;
  line-height: 140%;
  color: var(--accent-color);
  padding-bottom: 2.6em;
  transition: all 0.3s ease-in;
}

@media screen and (max-width: 860px) {
  .lost_link{
    font-size: 16px;
  }
}

.lost_link:hover {
  color: #51524d;
  text-decoration: none;
}

.columns {
  -moz-column-count: 2;
  column-count: 2;
}

.title_description {
  font-size: 1.5em;
  line-height: 150%;
  text-align: left;
  color: #51524d;
  padding-bottom: 1.15em;

  a {
    text-decoration: none;
    color: #51524d;
    pointer-events: none;
  }
}

@media screen and (max-width: 680px) {
  .title_description {
    font-size: 24px;
  }
}

.text_description {
  /* text-align: justify; */
  gap: 3.25em;
  font-size: 16px;
  font-weight: 300;
  line-height: 140%;
  padding-bottom: 3em;
  color: #51524d;
}

.text_description_company {
  margin-top: 0.65em;
  gap: 3.25em;
  font-size: 16px;
  font-weight: 300;
  line-height: 140%;
  padding-bottom: 3em;
  color: #51524d;
}

.company {
  margin-top: -2.8em;
  margin-bottom: -1.5em;
}
@media screen and (max-width: 680px) {
  .company_padding {
    margin-bottom: 4em;
  }
}

@media screen and (max-width: 680px) {
  .text_description {
    -moz-column-count: 1;
    column-count: 1;
    padding-bottom: 0;
  }
}
.text_description_item {
  gap: 3.25em;
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
  color: #51524d;
  width: 70%;
  padding-bottom: 0.6em;
}

@media screen and (max-width: 680px) {
  .text_description_item {
    width: 100%;
  }
}
h2.title_description {
  font-size: 1.1em;
  line-height: 140%;
  text-align: left;
  color: #51524d;
  font-weight: 500;
}

@media screen and (max-width: 680px) {
  h2.title_description {
    padding-bottom: 1em;
    padding-top: 2em;
  }
}
.description__card-list {
  display: flex;
  flex-direction: column;
}

.description__card-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3.7em;
  padding-bottom: 2.1em;
}

.description__card-list-item.index {
  margin-top: -0.6em;
}

@media screen and (max-width: 680px) {
  .description__card-list-item {
    flex-direction: column;
    gap: 0;
  }
}

.description__card-list {
  font-size: 16px;
  font-weight: 300;
  margin-right: 0.3em;
  padding-left: 0.6em;
  color: #51524d;
  line-height: 150%;
  flex: 1;
  list-style: none;
  -moz-column-count: 3;
  column-count: 3;
}
@media screen and (max-width: 680px) {
  .description__card-list {
    -moz-column-count: 1;
    column-count: 1;
  }
}

.description__card-list li {
  padding-left: 1em;
}

.description__card-list li::before {
  content: "•";
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.description__card-list_text {
  padding-bottom: 0.8em;
}

.news {
  padding-top: 3.6em;
  padding-bottom: 4em;
  border-top: 1px solid rgba(102, 100, 101, 0.5);
  border-bottom: 1px solid rgba(102, 100, 101, 0.5);
}

.news_text {
  margin-top: 1em;
  margin-bottom: 1em;
}
.title_news {
  font-size: 1.45em;
  font-weight: 700;
  line-height: 140%;
  padding-bottom: 1em;
  color: #51524d;
}

.content-section_news {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: var(--padding);
  justify-content: space-between;
  width: 100%;
  /* flex-wrap: wrap; */
  /* padding-left: 3.375em; */
}

@media screen and (max-width: 680px) {
  .content-section_news {
    overflow-x: scroll;
    padding-bottom: 20px;
  }
}

.content-section_news.pages {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--padding);
  width: 100%;
  margin-bottom: 63px;
}

@media screen and (max-width: 680px) {
  .content-section_news.pages {
    flex-direction: column;
  }
}

.title_news_item {
  font-size: 1.1em;
  font-weight: 500;
  line-height: 140%;
  color: #51524d;
}

@media screen and (max-width: 680px) {
  .title_news_item {
    font-size:16px;
  }
}

.title_news_item:hover{
  color:#7396AF;
}

.intro__date {
  font-family: "Inter";
  font-size:16px;
  line-height: 140%;
  text-align: left;
  color: var(--accent-color);
  font-weight: 600;
  display: block;
  margin-top: 18px;
}

.content-section_news_accent {
  display: flex;
  flex-direction: column;
  width: calc((100% / 3) - (0.9 * 3em));
}

@media screen and (max-width: 680px) {
  .content-section_news_accent {
    width: 100%;
    flex-shrink: 0;
  }
}

.news_text {
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
  color: #51524d;
  text-align: left;
  p {
    margin-bottom: 20px;
  }
}

.news_link {
  margin-top: 1.1em;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  background-color: var(--accent-color);
  padding-bottom: 1.1em;
  padding-top: 1.1em;
  width: 12.3em;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in;
}

.news_link:hover {
  background-color: #CDD9E2;
  color: #51524d;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  .address__contact {
    padding-left: var(--padding);
  }
  @media screen and (max-width: 680px) {
    flex-direction: column;
  }
}

.left-container {
  width: 50%;
  max-width: calc(var(--max-width) / 2);
  margin-left: auto;
  @media screen and (max-width: 680px) {
    width: 100%;
    max-width: unset;
  }
}

@media screen and (max-width: 680px) {
  .contact .address__contact {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 4em;
  }
}

.contact img {
  max-width: 100%;
}

.address {
  font-size: 16px;
  line-height: 150%;
  color: #51524d;
  font-weight: 300;
}
.address_contact {
  display: flex;
  flex-direction: column;
  font-style: normal;
}
@media screen and (max-width: 680px) {
  .address_contact {
    margin-top: 35px;
    margin-bottom: 36px;
    gap: 5px;
  }
}

.telephone_contacts {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
}
.title_contact {
  font-size: 1.5em;
  line-height: 140%;
  font-weight: 700;
  color: #51524d;
  padding-bottom: 1em;
}

.title_contact_item {
  font-size: 1.2em;
  line-height: 140%;
  font-weight: 700;
  color: #51524d;
  padding-bottom: 1em;
}

.telephone {
  font-size: 1.1em;
  font-weight: 500;
  line-height: 140%;
  color: #51524d;
  text-decoration: none;
}

.email {
  color: var(--accent-color);
  text-decoration: none;
  transition: all 0.3s ease-in;
  font-size: 1.15em;
  padding-top: 0.3em;
}

.email:hover {
  color: #51524d;
}

.map_wrapper {
  position: relative;
  min-height: 513px;
  width: 50%;
  background-image: url(../images/maps.jpeg);
  @media screen and (max-width: 680px) {
    width: 100%;
    min-height: 400px;
  }
}

.maps_contact {
  position: absolute;
  top: 33.5%;
  left: 41%;
  height: 76px;
  width: 58.12px;
}
@media screen and (max-width: 680px) {
  .maps_contact {
    position: absolute;
    top: 33.5%;
    left: 41%;
    height: 4.75em;
    width: 3.633em;
  }
}

.footer {
  padding: 2.3em 0 1.125em 0;
  background-color: #90aec41a;
  flex: 0 0 auto;
}
.group_footer {
  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

@media screen and (max-width: 680px) {
  .group_footer {
    .container {
      flex-direction: column;
    }
  }
}

.logo_footer {
  width: 16.396em;
  height: 3em;
}

@media screen and (max-width: 860px) {
  .logo_footer{
    width: 220px;
    height: 30px;
  }
}

.nav_footer {
  display: flex;
  flex-direction: row;
  gap: 8em;
  margin-left: -3em;
}
@media screen and (max-width: 960px) {

  .nav_footer {
    margin-left: unset;
    gap: 6em
  }
}

@media screen and (max-width: 680px) {
  .nav_footer {
    display: none;
  }
}

.address_footer {
  display: flex;
  flex-direction: column;
}

.footer__menu-link {
  text-decoration: none;
  font-size: 0.75em;
  font-weight: 400;
  line-height: 140%;
  color: #51524d;
  transition: all 0.3s ease-in;
  text-transform: uppercase;
  
}
.footer_menu_item {
  margin-bottom: 0.8em;
}

.footer__menu-list {
  list-style: none;
}
.telephone_footer {
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  color: #51524d;
  text-decoration: none;
}

.email_footer {
  color: var(--accent-color);
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s ease-in;
}

.email_footer:hover {
  color: #51524d;
}

.copyright {
  font-family: Muller;
  font-size:16px;
  font-weight: 300;
  line-height: 150%;
  text-align: left;
  color: #51524d;
  width: 100%;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* height: 633px; */
  max-width: 828px;
  background-color: #ffffff;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.25);
  padding: 63px 28px;
  z-index: 10;
  @media screen and (max-width: 680px) {
    width: 100%;
    top: 0;
    left: 0;
    transform: unset;
  }
}
.modal_close {
  position: absolute;
  top: 40px;
  right:40px;
  width: 16px;
  height: 16px;
  display: block;
  background: url(../images/close.svg) 50% 50% no-repeat;
  font-size: 0;
  &:hover {
    background: url(../images/close_hover.svg) 50% 50% no-repeat;
  }
}

.modal_cookie {
  position: fixed;
  bottom: 0;
  right: 0;
  max-width: 703px;
  background-color: #ffffff;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.25);
  padding: 48px 61px 31px 61px;
  z-index: 10;
  @media screen and (max-width: 680px) {
    width: 100%;
    top: 0;
    left: 0;
    transform: unset;
  }
}

.modal-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: #51524d;
  margin-right: 40px;
  margin-bottom: 42px;
}

.form {
  .form-wrapper {
    display: flex;
    gap: 28px 21px;
    @media screen and (max-width: 680px) {
      flex-direction: column;
      gap: unset;
      &:last-child {
        flex-direction: column-reverse;
      }
    }
  }
  .form-col {
    width: 50%;
    @media screen and (max-width: 680px) {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  .form-row + .form-row {
    margin-top: 21px;
  }
  textarea,
  input[type="text"] {
    width: 100%;
    background: #ECF0F4;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    color: #51524d;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 16px;
    border: none;
    outline: none;
    font-family: Muller;
  }
  textarea {
    height: 100%;
  }
  .assent_modal {
    font-weight: 300;
    font-size: 11px;
    line-height: 150%;
    color: #51524d;
  }

  .checkbox-wrapper {
    margin-top: 21px;
  }
  .custom-checkbox {
    display: flex;
    align-items: center;
    .text {
      font-size: 11px;
      color: #51524d;
    }
  }
.send-btn {
  margin-top: 20px;
}
  .custom-checkbox .checkbox {
    margin-right: 10px;
  }

  .custom-checkbox input {
    -webkit-appearance: none;
    position: absolute;
  }

  .checkbox {
    position: relative;
    width: 28px;
    height: 28px;
    border: 1px solid #d8d5cd;
    background: white;
    flex-shrink: 0;
  }

  .checkmark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
    display: none;
  }

  .custom-checkbox input:checked ~ .checkbox .checkmark {
    display: block;
  }

  .custom-select {
    position: relative;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 16px;
    background: #ECF0F4;
    font-weight: 300;
    font-size: 16px;
  }

  .custom-select select {
    display: none;
  }

  .select-selected:after {
    position: absolute;
    content: "";
    display: block;
    width: 16px;
    height: 8px;
    background: url(../images/pointer.svg) no-repeat;
    background-size: contain;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  .select-items div,
  .select-selected {
    color: #51524d;
    cursor: pointer;
  }
  .select-items {
    position: absolute;
    background-color: #ECF0F4;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }

  .select-hide {
    display: none;
  }
  .select-items div {
    padding: 10px 20px;
  }
  .select-items div:hover,
  .same-as-selected {
    background-color: #CDD9E2;
  }
  .upload_file {
    margin-top: 30px;
    padding: 10px 20px;
    background: url(../images/attach.svg) no-repeat;
    padding-left: 60px;
    @media screen and (max-width: 680px) {
      margin-top: unset;
    }
    label {
      font-size: 11px;
      color: #51524d;
    }
  }

  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
}

.breadcrumbs {
  padding: 1.26em 0em 1.1em 0em;
  list-style: none;
}

.breadcrumbs li {
  display: inline;
  font-size: 0.65em;
  color: #51524d;
  line-height: 150%;
  font-weight: 300;
}

.breadcrumbs li + li:before {
  color: black;
  content: "/\00a0";
}
.flex {
  display: flex;
}
.info {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #51524d;
  padding-bottom: 2em;
}

.about_mission {
  border-top: 1px solid rgba(102, 100, 101, 0.5);
  border-bottom: 1px solid rgba(102, 100, 101, 0.5);
  padding: 1.2em 0 3.938em 0;
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.625em;
  }
}
.mission_item {
  width: 50%;
  padding-top: 2.5em;
}

@media screen and (max-width: 680px) {
  .about_mission .container {
    flex-direction: column;
  }
  .mission_item {
    width: 100%;
    margin-top: -2.5em;
  }
}
.about_bottom {
  padding: 3.8em 0 3em 0;
  .container {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}

@media screen and (max-width: 680px) {
  .about_bottom .container {
    max-width: unset;
  }
}

.pdf_file {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 24px;
  margin-bottom: 24px;
  text-decoration: none;
  color: #51524d;
  .st0 {
    fill: #fff;
  }
  .st1 {
    fill: #E2574C;
  }
  .st2 {
    fill: #B53629;
  }
  &:hover {
    color: #90aec4;

    .st0 {
      fill: #fff;
    }
    .st1 {
      fill: #90aec4;
    }
    .st2 {
      fill: #7396AF;
    }
  }
}

.pdf_icon {
  height: 42px;
  width: 32px;
}

.subtitle {
  font-weight: 500;
  font-size: 1.1em;
  line-height: 140%;
  color: var(--accent-color);
  padding-bottom: 77px;
}

@media screen and (max-width: 680px) {
  .subtitle{
    padding-bottom: 0px;
  }
}

.information_table {
  display: flex;
  gap: 1.563em;
}

.left_menu {
  width: 27%;
  flex-shrink: 0;
}

.left_menu_insert {
  display: none;
}

.left__menu_insert.open {
  display: block;
}

.menu {
  display: flex;
  list-style: none;
  gap: 0.25em;
  flex-direction: column;
  margin-bottom: 2em;
}
.menu ul {
  list-style: none;
  border-top: 1px solid #d8d5cd;
}

@media screen and (max-width: 680px) {
  .left_menu {
    display: none;
    width: 100%;
  }
  .mob_db {
    display: block;
  }
  .menu {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.table_wrapper {
 
  padding-left: calc(var(--padding) / 2);
  flex-grow: 1;
}

.upper {
  margin-top: -50px;
}

.left_menu_link {
  display: flex;
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #51524d;
  background-color: #ECF0F4;
  padding-left: 1em;
  padding-top: 1.1em;
  padding-bottom: 1.1em;
}
.left_menu_link:hover{
   background-color: #CDD9E2;
}
.left_menu_insert 
.left_menu_link {
  background-color: #fbfcfd;
}

.left__menu-item._active .left_menu_link {
  background: #CDD9E2;
  color: #b45c5b;
}
.left__menu-item._active .left__menu-link,
.left__menu-item._active .left__menu-link:hover {
  color: #fff;
}

.left__menu-item .dropdown-link {
  position: relative;

  &:after {
    content: "";
    display: block;
    width: 16px;
    height: 8px;
    background: url(../images/pointer.svg) no-repeat;
    background-size: contain;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.left__menu-item .dropdown-link.active {
  color: #b45c5b;
  background-color:  #CDD9E2; */
  &:after {
    transform: translateY(-50%) rotate(180deg);
  }
}

.data_sort {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 20px;
    top: 50%;
    left: 90%;
    transform: translate(0%, -50%);
    z-index: -1;
    background: url(../images/arrow.svg) 90% 50% no-repeat;
    background-size: 10px;
  }
}

.data_sort.up {
  &::after {
    content: "";
    transform: translate(0%, -50%) rotate(180deg);
    padding-left: 6em;
  }
}

.pointer {
  background-repeat: no-repeat;
  height: 0.5em;
  width: 1em;
  display: inline-block;
  margin-left: 5em;
}

.custom_table {
  width: 100%;
  border-spacing: calc(var(--padding) / 2) 0em;
  margin-bottom: 2em;
  ul {
    padding-left: 20px;
  }
}
.custom_table td {
  vertical-align: top;
}

.table_row {
  border-bottom: 1px solid rgba(102, 100, 101, 0.5);
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 16px;
  @media screen and (min-width: 860px) {
  &:first-child {
    width: 60%;
  }
}

}

.table_row.blue {
  color: var(--accent-color);
}

.table_row_over {
  -moz-columns: 2;
  columns: 2;
  -moz-column-gap: 1.5em;
  column-gap: 1.5em;
}

.custom_table thead th {
  border-bottom: 1px solid rgba(102, 100, 101, 0.5);
  font-size: 16px;
  text-align: left;
  font-weight: normal;
  color: var(--accent-color);
  /* min-width: 200px; */
  height: 50px;
}

.custom_table .inner-table {
  width: 100%;
}
.custom_table .inner-table td {
  vertical-align: top;
}
.custom_table .inner-table td p {
  margin-bottom: 20px;
  margin-right: 20px;
  text-align: left;
  
}

.table_head td {
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  color: var(--accent-color);
  border-bottom: 1px solid rgba(102, 100, 101, 0.5);
}

.table_title {
  text-align: left;
}

.table_body {
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  color: #51524d;
}

.tel_table {
  font-weight: 300;
  font-size: 1em;
  line-height: 150%;
  color: #51524d;
  text-decoration: none;
}

.link_table {
  font-weight: 300;
  font-size: 1em;
  line-height: 150%;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  color: var(--accent-color);
}

.link_table:hover{
  text-decoration: none;
}

.under_table {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-top: 1em;
  width: 100%;
}

@media screen and (max-width: 680px) {
  .under_table {
    gap: 10px;
    padding-top: 0;
  }
}

.text_description_information {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #51524d;
}
.clients_pages,
.part_pages {
  padding-left: calc(var(--padding) / 2);
  .custom_table {
    width: calc(100% + (var(--padding)));
    margin-left: calc(-1 * (var(--padding) / 2));
  }
}
.tab {
  padding-bottom: 3em;
}

@media screen and (max-width: 680px) {
  .tab-nav {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap: 1em;
  }
}

.tab-link {
  gap: 0.313em;
  font-weight: 300;
  text-decoration: none;
  font-size: 14px;
  padding-left: 3em;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  padding-right: 3em;
  line-height: 1.25;
  color: #51524d;
  background-color: #ECF0F4;
  text-align: center;
  display: inline-flex;
  align-items: center;
}

.tab-link.active,
.tab-link:hover {
  background-color: #CDD9E2;
}

@media screen and (max-width: 680px){
  .tab {
    margin-right: -20px;
  }
  .tab-link{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}
.border {
  border-color: (#51524d, 0.5);
  height: 1px;
  margin-bottom: 2em;
}

.clients_pages {
  padding-left: 2.25em;
}
.clients_text {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  color: #51524d;
  gap: 1em;
  padding-right: var(--padding);
  margin-bottom: 3em;
}

.button_next {
  color: #51524d;
  background-color: #CDD9E2;
  border: none;
  padding: 1.5em 1.5em;
  width: 172px;
  white-space: nowrap;
  cursor: pointer;
}

.clients_pages {
  display: flex;
  flex-direction: column;
  padding-left: 1.75em;
  /* padding-right: var(--padding); */
  padding-bottom: 3.938em;
}
@media screen and (max-width: 680px){
  .clients_pages{
    padding-left: unset;
  }
}

@media screen and (max-width: 680px) {
  .table_wrapper {
    display: block;
    width: 100%;
    padding: 0;
  }
  .upper {
    margin-top: unset;
  }
  .table_row {
    padding: 0;
  }
  .custom_table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100% !important;
    margin-left: unset !important;
  }
  .custom_table tr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .custom_table td {
    display: block;
    text-align: left;
  }
  .custom_table th {
    display: none;
  }
  .custom_table td[data-label="Документ"]:before {
    border-bottom: 1px solid rgba(102, 100, 101, 0.5);
    margin-bottom: 10px;
    padding-bottom: 5px;
  }

  .custom_table tr:not(:first-child) td[data-label="Документ"] {
    display: none;
  }


  .custom_table td {
    width: 100%;
  }
  .custom_table td {
    border: none;
  }
  .custom_table tr {
    border-bottom: 1px solid rgba(102, 100, 101, 0.5);
    padding-bottom: 20px;
    padding-top: 10px;
  }
  .inner-table tr {
    border-bottom: none;
    padding-bottom: 0;
  }
  .custom_table td:before {
    display: block;
    content: attr(data-label);
    color: var(--accent-color);
  }
  .custom_table .inner-table td p {
    margin-bottom: 0;
    
  }
  .custom_table thead tr,
  .custom_table thead th {
    padding: 0;
    margin: 0;
    border: none;
  }
  .mob_table-title {
    display: inline-block;
    font-size: 12px;
    background: #f5f7f9 url(../images/arrow-left.svg) 10px 50% no-repeat;
    padding: 10px 40px;
    margin-left: -20px;
    margin-bottom: 36px;
    a {
      text-decoration: none;
      color: #51524d;
      pointer-events: all;
    }
  }

  .subtitle {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 24px;
  }
}


.news_pages {
  border-top: 1px solid rgba(102, 100, 101, 0.5);
  border-bottom: 1px solid rgba(102, 100, 101, 0.5);
  padding-top: 2.625em;
  display: flex;
  flex-direction: column;
  /* gap: 3.938em; */
}

.button {
  display: flex;
}

.news_pages_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 75px;
}

@media screen and (max-width: 680px){
  .news_pages_item {
    flex-direction: column;
    gap:0;
    padding-bottom: 2em;
  }
}

.link_news_item {
  display: block;
  height: 20px;
  text-decoration: none;
  padding-left: 32px;
  margin-top: 42px;
  margin-bottom: 42px;
  font-weight: 300;
  background: url(../images/arrow-back.svg) 0 50% no-repeat;
  background-size: 10px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #90aec4;
}

.link_news_item:hover {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #51524d;
}

.contacts_pages {
  border-top: 1px solid rgba(102, 100, 101, 0.5);
}

.btn {
  color: #51524d;
  background-color:#CDD9E2;
  border: 0;
  padding: 1.5em 1.5em;
  width: 172px;
  white-space: nowrap;
  /* margin-top: 1.5em; */
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  &:hover {
    background: var(--accent-color);
    color: #fff;
  }
}

.count {
  font-weight: 300;
  font-size: 10px;
  line-height: 150%;
  /* color: #51524d; */
}

.count:hover {
  color: #90aec4;
}

.column{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.result_item {
  padding-top: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid rgba(102, 100, 101, 0.5);
  
}

.button_pages {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 42px;
  margin-bottom: 63px;
  /* margin-right: 54px; */
  position: relative;
  gap: 18.5em;
  &:before {
    content: "";
    width: calc(100% / 3);
  }
  .button {
    justify-content: center;
    margin-left: auto;
  }
  @media screen and (max-width: 680px) {
    &:before {
      display: none;
    }
    .button {
      margin-left: 0;
      justify-content: flex-start;
    }
  
  }
}

@media screen and (max-width: 680px){
  .button_pages {
    gap: 3em;
  }
}

.paging {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  width: calc(100% / 3);
}
.pages_list {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  font-weight: 300;
  font-size: 11px;
  color: #51524d;
  align-items: center;
  .pages_item,
  .total {
    font-size: 14px;
    font-weight: 500;
  }
  .control {
    font-size: 0;
    display: block;
    background: url(../images/arrow-back.svg) no-repeat;
    background-size: 100% 100%;
    width: 10px;
    height: 20px;
    flex-shrink: 0;
  }
  .control:hover{
    background: url(../images/arrow-back_blue.svg) no-repeat;
    background-size: 100% 100%;
  }
  .disabled {
    opacity: 0.3;
    pointer-events: none;
  }
  .next {
    transform: rotate(180deg);
  }
}

.pages_item {
  background-repeat: no-repeat;
  text-align: center;
  width: 100%;
}

.not_found {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #51524d;
  padding-top: 2.563em;
  padding-bottom: 3.938em;
  display: flex;
  flex-direction: column;
  gap: 3.938em;
}

.cookie {
  display: flex;
  flex-direction: column;
  width: 29.938em;
  gap: 3.938em;
}

@media screen and (max-width: 680px){
  .cookie {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
}

.link_grey {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  color: #51524d;
}

.link_grey:hover {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  color: #90aec4;
}

.search_results {
  width: 100%;
  padding-bottom: 53px;
  border-bottom: 1px solid rgba(102, 100, 101, 0.5);
}
.search_form {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.3em;
  margin-bottom: 23px;

  input[type="text"] {
    background: #dfe7ee;
    height: 42px;
    padding-left: 10px;
    border: 0;
    flex-grow: 1;
    outline: none;
  }
  .search_btn {
    border: none;
    display: flex;
    height: 42px;
    background: var(--accent-color);
    color: #fff;
    padding: 0 30px;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
  }
}

::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 16px;
  opacity: 1;
  color: #51524d;
  font-family: "Muller" serif;
}

::-moz-placeholder {
  font-weight: 300;
  font-size: 16px;
  opacity: 1;
  color: #51524d;
  font-family: "Muller" serif;
}

:-ms-input-placeholder {
  font-weight: 300;
  font-size:16px;
  opacity: 1;
  color: #51524d;
  font-family: "Muller" serif;
}

::-ms-input-placeholder {
  font-weight: 300;
  font-size:16px;
  opacity: 1;
  color: #51524d;
  font-family: "Muller" serif;
}

::placeholder {
  font-weight: 300;
  font-size: 16px;
  opacity: 1;
  color: #51524d;
  font-family: "Muller" serif;
}


.toggle {
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
}
.hide {
  display: none;
  margin-bottom: 10px !important;
}

.menu_info{
padding-left: 3em;
list-style-type: none;
}

.menu_info_item{
  text-decoration: none;
  color: #51524d;
}

.menu_info_item:hover{
 color: #7396AF;
}

ul.menu_info li {
  color:#51524d;
  font-size: 16px;
  margin-bottom: 1em;
}

ul.menu_info li:hover {
  color:#7396AF;
}

.menu_info li::before {
  content: "\2014";
 }