.container {
  width: 100%;
  padding: 0 3.375em;
}
@media screen and (max-width: 680px) {
  .container {
    padding: 0 20px;
  }
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0em;
  background-color: #ffffff;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(102, 100, 101, 0.3);
  z-index: 10;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
  }
}

.logo {
  width: 12.809em;
}

@media screen and (max-width: 980px) {
  .logo {
    width: 163px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
  }
}

.header .main-nav {
  position: relative;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;

}
@media screen and (max-width: 680px) {
  .header .main-nav {
    position: static;
  }
}

.header__menu-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  gap: 1vw;
  align-items: center;
  color: #666465;
  font-size: 0.74em;
  font-weight: 400;
  line-height: 140%;
}

.header__menu-item {
  padding-top: 1.3em;
  padding-bottom: 1.2em;
  padding-left: 0.8em;
  padding-right: 0.8em;
}
@media screen and (max-width: 980px) {
  .header__menu-list {
    font-size: 0;
    transition: none;
  }
  .header__menu-list a {
    transition: none;
  }
  .main-nav.is-active .header__menu-list {
    font-size: 12px;
    position: absolute;
    top: 60px;
    left: 0;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    background: #fff;
    width: 100%;
    gap: 0;
    /* box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.25); */
    border-top: 1px solid rgba(102, 100, 101, 0.5);
  }
  .header__menu-item {
    padding: 0;
  }
}

.header__menu-link {
  text-decoration: none;
  color: #666465;
  display: flex;
  padding-top: 1.1em;
  padding-bottom: 1em;
  transition: all 0.3s ease-in;
}

.header__menu-link:hover {
  color: #90aec4;
}

.header__menu-item._active {
  background: #90aec4;
}
.header__menu-item._active .header__menu-link,
.header__menu-item._active .header__menu-link:hover {
  color: #fff;
}

.main-nav__toggle {
  display: none;
  background: transparent;
  border: none;
  width: 16px;
  height: 9px;
  cursor: pointer;
  position: relative;
  z-index: 5;
  padding: 0;
}
@media screen and (max-width: 980px) {
  .main-nav__toggle {
    display: block;
    position: absolute;
  }
}
@media screen and (max-width: 680px) {
  .main-nav__toggle {
    top: 28px;
    right: 20px;
  }
}
.main-nav__toggle span {
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background: #666465;
  transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
  transform-origin: 50%;
}
.main-nav__toggle span:nth-child(1) {
  top: 0;
}
.main-nav__toggle span:nth-child(2) {
  top: calc(50% - 0.5px);
}
.main-nav__toggle span:nth-child(3) {
  bottom: 0px;
}
.main-nav__toggle.is-active span {
  background: #666465;
  width: 90%;
  margin-left: 2px;
}
.main-nav__toggle.is-active:hover span {
  background: #90aec4;
}

.main-nav__toggle.is-active span:nth-child(1) {
  transform: rotate(135deg);
  margin-top: 4px;
}
.main-nav__toggle.is-active span:nth-child(2) {
  opacity: 0;
}
.main-nav__toggle.is-active span:nth-child(3) {
  transform: rotate(-135deg);
  margin-bottom: 4px;
}

.search_btn-open {
  display: inline-block;
  width: 36px;
  height: 36px;
  font-size: 0;
  background: rgba(144, 174, 196, 0.3) url(../images/search.svg) 50% 50%
    no-repeat;
  margin-left: 29px;
}
@media screen and (max-width: 980px) {
  .search_btn-open {
    margin-right: 35px;
  }
}
.search_btn-open:hover {
  background: #90aec4 url(../images/search_hover.svg) 50% 50% no-repeat;
}
.search_btn-close {
  display: inline-block;
  width: 36px;
  height: 36px;
  font-size: 0;
  flex-shrink: 0;
  background: url(../images/close.svg) 50% 50% no-repeat;
}
.search_btn {
  border: none;
  display: flex;
  height: 100%;
  background: #90aec4;
  color: #fff;
  padding: 0 30px;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}
.search_btn:hover {
  background: #dfe7ee;
  color: #666465;
}

.search {
  display: none;
  position: absolute;
  background: #fff url(../images/search.svg) 0 50% no-repeat;
  height: 100%;
  width: 100%;
  right: 0;
  align-items: center;
  padding-left: 30px;
}
.search.open {
  display: flex;
}
.search input {
  border: none;
  background: #fff;
  width: calc(100% - 100px);
  outline: none;
}
@media screen and (max-width: 980px) {
  .search.open {
    display: block;
    padding: 20px;
    top: 60px;
    background: #fff;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .search input {
    width: 100%;
    padding: 10px;
    background: #f5f7f9;
    margin-bottom: 10px;
  }
  .search_btn {
    display: inline-block;
    height: 42px;
  }
  .search_btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

.cover {
  background-image: url(../images/cover.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  height: 25em;
  min-height: 246px;
}
@media screen and (max-width: 680px) {
  .cover {
    height: 246px;
  }
}
.cover_title {
  font-size: clamp(2rem, 10vw, 5.65em);
  font-weight: 700;
}

.cover_text {
  font-size: clamp(0.8em, 1.4vw, 122px);
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.5em;
  margin-top: 1.3em;
}

.lots {
  /* padding-left: 3.375em;
  padding-right: 3.375em; */
}

.lots_title {
  padding-top: 2.56em;
  padding-bottom: 1.5em;
}

.card {
  background-color: #90aec4;
  padding: 0.625em;
  margin-right: 0.625em;
  margin-bottom: 0.625em;
  cursor: pointer;
  height: 9.45em;
  width: 12.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.3s ease-in;
}
.card span {
  display: block;
}

@media screen and (max-width: 860px) {
  .card {
    width: 100%;
    height: auto;
  }
  .card span {
    display: unset;
  }
}

.card__text {
  font-family: Muller;
  font-size: 1.15em;
  line-height: 140%;
  color: #ffffff;
}

@media screen and (max-width: 680px) {
  .card__text {
    font-size: 14px;
  }
}
.card:hover {
  background-color: rgba(144, 174, 196, 0.3);
}

.card__text:hover {
  color: #666465;
}

.lots_title {
  color: #666465;
  display: flex;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  padding-bottom: 3.2em;
}
@media screen and (max-width: 860px) {
  .lots__card-list {
    flex-direction: column;
  }
}

.lost_link {
  display: flex;
  justify-content: center;
  font-family: Muller;
  font-size: 1.15em;
  font-weight: 500;
  line-height: 140%;
  color: #90aec4;
  padding-bottom: 2.6em;
  transition: all 0.3s ease-in;
}

.lost_link:hover {
  color: #666465;
}

.columns {
  -moz-column-count: 2;
  column-count: 2;
}

.title_description {
  font-size: 1.5em;
  line-height: 150%;
  text-align: left;
  color: #666465;
  padding-bottom: 1.15em;
  
  a {
    text-decoration: none;
    color: #666465;
    pointer-events: none;
  }
}

@media screen and (max-width: 680px) {
  .title_description {
    font-size: 24px;
    margin-bottom: 1.2em;
  }
}


.text_description {
  /* text-align: justify; */
  gap: 3.25em;
  font-size: 0.97em;
  font-weight: 300;
  line-height: 140%;
  padding-bottom: 3em;
  color: #666465;
}

.text_description_company{
  margin-top: 0.65em;
  gap: 3.25em;
  font-size: 0.87em;
  font-weight: 300;
  line-height: 140%;
  padding-bottom: 3em;
  color: #666465;
}

.company{
 margin-top: -2.8em;
 margin-bottom: -1.5em;
}


@media screen and (max-width: 680px) {
  .text_description {
    -moz-column-count: 1;
    column-count: 1;
    padding-bottom: 0;
  }
}
.text_description_item {
  gap: 3.25em;
  font-size: 0.9em;
  font-weight: 300;
  line-height: 150%;
  color: #666465;
  width: 70%;
 padding-bottom: 0.6em;
}

@media screen and (max-width: 680px) {
  .text_description_item {
    width: 100%;
  }
}
h2.title_description {
  font-size: 1.1em;
  line-height: 140%;
  text-align: left;
  color: #666465;
  font-weight: 500;
}

@media screen and (max-width: 680px) {
  h2.title_description {
    padding-bottom: 1em;
    padding-top: 2em;
  }
}
.description__card-list {
  display: flex;
  flex-direction: column;
}



.description__card-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3.7em;
  padding-bottom: 2.1em;
   
}

.description__card-list-item.index {
  margin-top: -0.6em;
} 

@media screen and (max-width: 680px) {
  .description__card-list-item {
    flex-direction: column;
    gap: 0;
  }
}

.description__card-list {
  font-size: 0.9em;
  font-weight: 300;
  margin-right: 0.3em;
  padding-left: 0.6em;
  color: #666465;
  line-height: 150%;
  flex: 1;
  list-style: none;
  -moz-column-count: 3;
  column-count: 3;
}
@media screen and (max-width: 680px) {
  .description__card-list {
    -moz-column-count: 1;
    column-count: 1;
  }
}

.description__card-list li {
  padding-left: 1em;
}

.description__card-list li::before {
  content: "•";
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.description__card-list_text {
  padding-bottom: 0.8em;
}

.news {
  padding-top: 3.6em;
  padding-bottom: 4em;
  border-top: 1px solid rgba(102, 100, 101, 0.5);
  border-bottom: 1px solid rgba(102, 100, 101, 0.5);
}

.title_news {
  font-size: 1.45em;
  font-weight: 700;
  line-height: 140%;
  padding-bottom: 1.2em;
  color: #666465;
}

.content-section_news {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 3.375em;
  width: 100%;
  /* flex-wrap: wrap; */
  /* padding-left: 3.375em; */
}



@media screen and (max-width: 680px) {
  .content-section_news {
    overflow-x: scroll;
    padding-bottom: 20px;
  }
}

.content-section_news.pages {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 3.375em;
  width: 100%;
}

@media screen and (max-width: 680px) {
  .content-section_news.pages {
    flex-direction: column;
   
  }
}


.title_news_item {
  font-size: 1.1em;
  font-weight: 500;
  line-height: 140%;
  color: #666465;
}

.intro__date {
  font-family: "Inter";
  font-size: 0.85em;
  line-height: 140%;
  text-align: left;
  color: #90aec4;
  font-weight: 600;
}

.content-section_news_accent {
  display: flex;
  flex-direction: column;
  gap: 0.9em;
  width: calc((100% / 3) - (0.9 * 3em));
}


@media screen and (max-width: 680px) {
  .content-section_news_accent {
    width: 100%;
    flex-shrink: 0;
    
  }
}


.news_text {
  font-size: 0.9em;
  font-weight: 300;
  line-height: 150%;
  /* text-align: justified; */
  color: #666465;
  text-align: left;
}

.news_link {
  margin-top: 1.1em;
  font-size: 0.87em;
  line-height: 140%;
  color: #ffffff;
  background-color: #90aec4;
  padding-bottom: 1.1em;
  padding-top: 1.1em;
  width: 12.3em;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in;
}

.news_link:hover {
  background-color: rgba(144, 174, 196, 0.3);
  color: #666465;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  .address__contact {
    padding-left: 3.375em;
  }
}

@media screen and (max-width: 680px) {
  .contact .address__contact {
    padding-left: 20px;
    margin-top: 4em;
  }
}

.contact img {
  max-width: 100%;
}

.address {
  font-size: 0.9em;
  line-height: 150%;
  color: #666465;
  font-weight: 300;
  
}
.address_contact {
  display: flex;
  flex-direction: column;
  font-style: normal;
}
@media screen and (max-width: 680px) {
  .address_contact {
    margin-top: 35px;
    margin-bottom: 36px;
    gap: 5px;
  }
}

.telephone_contacts{
  display: flex;
  flex-direction: column;
  padding-top: 1em;
}
.title_contact {
  font-size: 1.5em;
  line-height: 140%;
  font-weight: 700;
  color: #666465;
  padding-bottom: 1em;
}

.telephone {
  font-size: 1.1em;
  font-weight: 500;
  line-height: 140%;
  color: #666465;
  text-decoration: none;
}

.email {
  color: #90aec4;
  text-decoration: none;
  transition: all 0.3s ease-in;
  font-size: 1.15em;
  padding-top: 0.3em;
}

.email:hover {
  color: #666465;
}

.map_wrapper{
  position: relative;
  height: 513px;
  width: 700px;
  background-image: url(../images/maps.jpeg);
}

.maps_contact {
  position: absolute;
  top: 33.5%;
  left: 41%;
  height: 76px;
  width: 58.12px;
}
@media screen and (max-width: 680px){
  .maps_contact {
    position: absolute;
    top: 33.5%;
    left: 41%;
    height: 4.75em;
    width: 3.633em;
  }
}


.footer {
  padding: 2.3em 0 1.125em 0;
  background-color: #90aec41a;
}
.group_footer {
  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
@media screen and (max-width: 680px) {
  .group_footer {
    .container {
      flex-direction: column;
    }
  }
}

.logo_footer {
  width: 16.396em;
  height: 3em;
}

.nav_footer {
  display: flex;
  flex-direction: row;
  gap:8em;
  margin-left: -3em;
}
@media screen and (max-width: 860px) {
  .nav_footer {
    display: none;
  }
}

.address_footer {
  display: flex;
  flex-direction: column;
}

.footer__menu-link {
  text-decoration: none;
  font-size: 0.75em;
  font-weight: 400;
  line-height: 140%;
  color: #666465;
  transition: all 0.3s ease-in;
}
.footer_menu_item {
  margin-bottom: 0.8em;
}

.footer__menu-list {
  list-style: none;
}
.telephone_footer {
  font-size: 0.9em;
  font-weight: 500;
  line-height: 140%;
  color: #666465;
  text-decoration: none;
}

.email_footer {
  color: #90aec4;
  text-decoration: none;
  font-size: 0.9em;
  transition: all 0.3s ease-in;
}

.email_footer:hover {
  color: #666465;
}

.copyright {
  font-family: Muller;
  font-size: 0.7em;
  font-weight: 300;
  line-height: 150%;
  text-align: left;
  color: #666465;
  width: 100%;
}

.breadcrumbs {
  padding: 1.26em 0em 1.1em 0em;
  list-style: none;
}

.breadcrumbs li {
  display: inline;
  font-size: 0.65em;
  color: #666465;
  line-height: 150%;
  font-weight: 300;
}

.breadcrumbs li + li:before {
  color: black;
  content: "/\00a0";
}
/* 
.first_part {
  padding: 1.5em 21.375em 3.938em 3.375em;
} */

.info {
  font-weight: 300;
  font-size: 0.8em;
  line-height: 150%;
  color: #666465;
  padding-bottom: 2em;
}

.about_mission {
  border-top: 1px solid rgba(102, 100, 101, 0.5);
  border-bottom: 1px solid rgba(102, 100, 101, 0.5);
  padding: 1.2em 0 3.938em 0;
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.625em;
  }
}
.mission_item {
  width: 50%;
  padding-top: 2.5em;
}

@media screen and (max-width: 680px) {
  .about_mission .container {
    flex-direction: column;
  }
  .mission_item {
    width: 100%;
    margin-top: -2.5em;
  }
}
.about_bottom {
  padding: 3.8em 0 3em 0;
  .container {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}

@media screen and (max-width: 680px) {
  .about_bottom .container {
    max-width: unset;
  }
}

.pdf_fail {
  height: 2.063em;
  width: 2.625em;
}

.subtitle {
  font-weight: 500;
  font-size: 1.1em;
  line-height: 140%;
  color: #90aec4;
  padding-bottom: 4em;
}

.information_table {
  display: flex;
  gap: 1.563em;
}

.over_information {
  display: flex;
}


.left_menu {
  width: 28%;
  flex-shrink: 0;
}

.left_menu_insert{
display: none;
}

.left__menu_insert.open{
  display: block;
}

.menu {
  padding-left: 3.375em;
  display: flex;
  list-style: none;
  gap: 0.25em;
  flex-direction: column;
  margin-bottom: 2em;
}
.menu ul {
  list-style: none;
  border-top: 1px solid #d8d5cd;
}

@media screen and (max-width: 680px) {
  .left_menu {
    display: none;
    width: 100%;
  }
  .mob_db {
    display: block;
  }
  .menu {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.table_over {
  margin-top: -3.5em;
  padding-bottom: 3.938em;
  padding-left: 28px;
  padding-right: 3.375em;
}

.left_menu_link {
  display: flex;
  text-decoration: none;
  font-weight: 300;
  font-size: 0.88em;
  line-height: 150%;
  color: #666465;
  background-color: rgba(144, 174, 196, 0.1);
  padding-left: 1em;
  padding-top: 1.1em;
  padding-bottom: 1.1em;
}

.left__menu-item._active {
  background: rgba(144, 174, 196, 0.3);
}
.left__menu-item._active .left__menu-link,
.left__menu-item._active .left__menu-link:hover {
  color: #fff;
}

.left__menu-item.has_inner {
  position: relative;
  &:after {
    content: "";
    display: block;
    width: 16px;
    height: 8px;
    background: url(../images/pointer.svg) no-repeat;
    background-size: contain;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

}
/* .financial_statements {
  display: inline-block;
  background-image: url(../images/pointer.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 1.438em) center;
} */
.data_inner{
  background: url(../images/arrow.svg) no-repeat;
  background-size: contain;
}

.pointer {
  background-repeat: no-repeat;
  height: 0.5em;
  width: 1em;
  display: inline-block;
  margin-left: 5em;
}

.custom_table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 1.75em 0em;
  margin-bottom: 2em;
  ul {
    padding-left: 20px;
  }
}
.custom_table td {
  vertical-align: top;
}

.table_row {
  border-bottom: 1px solid rgba(102, 100, 101, 0.5);
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 0.9em;
}

.table_row.blue {
  color: #90aec4;
}

.table_row_over {
  -moz-columns: 2;
  columns: 2;
  -moz-column-gap: 1.5em;
  column-gap: 1.5em;
}

.custom_table thead th {
  border-bottom: 1px solid rgba(102, 100, 101, 0.5);
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 0.8em;
  text-align: left;
  font-weight: normal;
  color: #90aec4;
  min-width: 200px;
}

.custom_table .inner-table {
  width: 100%;
}
.custom_table .inner-table td {
  vertical-align: top;
}
.custom_table .inner-table td p {
  margin-bottom: 20px;
}

.table_head td {
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  color: #90aec4;
  border-bottom: 1px solid rgba(102, 100, 101, 0.5);
}

@media screen and (max-width: 680px) {

  .table_over {
    display: block;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .table_row {
    padding: 0;
  }
  .table_over tr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .table_over td {
    display: block;
    text-align: left;
  }
  .table_over th {
    display: none;
  }
  .custom_table td{
    width: 100%;
  }
  .custom_table td {
    border: none;
  }
  .custom_table tr {
    border-bottom: 1px solid rgba(102, 100, 101, 0.5);
    padding-bottom: 20px;
    padding-top: 10px;
  }
  .inner-table tr {
    border-bottom: none;
    padding-bottom: 0;
  }
  .custom_table td:before {
    display: block;
    content: attr(data-label);
    color: #90aec4;
  }
  .custom_table .inner-table td p {
    margin-bottom: 0;
  }
  .custom_table  thead tr,
  .custom_table thead th {
    padding: 0;
    margin: 0;
    border: none;
  }
  .mob_table-title {
    display: inline-block;
    font-size: 12px;
    background: #f5f7f9 url(../images/arrow-left.svg) 10px 50% no-repeat;
    padding: 10px 40px;
    margin-left: -20px;
    margin-bottom: 36px;
    a {
      text-decoration: none;
      color: #666465;
      pointer-events: all;
    }
  }

  .subtitle {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 24px;
  }

}




.table_title {
  text-align: left;
}

.table_body {
  font-weight: 300;
  font-size: 0.8em;
  line-height: 150%;
  color: #666465;
}

.tel_table {
  font-weight: 300;
  font-size: 1em;
  line-height: 150%;
  color: #666465;
  text-decoration: none;
}

.link_table {
  font-weight: 300;
  font-size: 1em;
  line-height: 150%;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  color: #90aec4;
}
.under_table {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-top: 1em;
  width: 100%;
}

.text_description_information {
  font-weight: 300;
  font-size: 0.8em;
  line-height: 150%;
  color: #666465;
  padding-left: 1.75em;
}

.tab {
  padding-top: 0.9em;
  padding-left: 1.5em;
  padding-bottom: 3em;
}

@media screen and (max-width: 680px) {
  .tab-nav {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap: 1em;
  }
}

.tab-link {
  gap: 0.313em;
  font-weight: 300;
  text-decoration: none;
  font-size: 0.75em;
  padding-left: 3em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 3em;
  line-height: 150%;
  color: #666465;
  background-color: rgba(144, 174, 196, 0.1);
}

.tab-link.active {
  background-color: rgba(144, 174, 196, 0.3);
}

.border {
  border-color: (#666465, 0.5);
  margin-left: 1.75em;
  margin-bottom: 2em;
  margin-right: 3.375em;
}

.clients_text {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  color: #666465;
  padding-left: 2.25em;
  gap: 1em;
  padding-right: 3.375em;
}

.button_next {
  color: #666465;
  background-color: rgba(144, 174, 196, 0.3);
  border: 0cap;
  padding: 1.5em 1.5em;
  width: 10.75em;
  margin-top: 1.5em;
  margin-bottom: 3.938em;
}

.clients_pages_second {
  display: flex;
  flex-direction: column;
  padding-left: 1.75em;
  padding-right: 3.375em;
  padding-bottom: 3.938em;
}

.news_pages {
  border-top: 1px solid rgba(102, 100, 101, 0.5);
  border-bottom: 1px solid rgba(102, 100, 101, 0.5);
  padding-top: 2.625em;
  display: flex;
  flex-direction: column;
  gap: 3.938em;
  padding-bottom: 3.938em;
}


.klients_pages {
  display: flex;
  flex-direction: column;
}

.button {
  display: flex;
}

.news_pages_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.link_news_item {
  text-decoration: none;
  padding-left: 3.375em;
}

.contacts_pages {
  border-top: 1px solid rgba(102, 100, 101, 0.5);
}

.button_contacts {
  color: #666465;
  background-color: rgba(144, 174, 196, 0.3);
  border: 0cap;
  padding: 1.5em 1.5em;
  width: 12.875em;
  margin-top: 1.5em;
  margin-bottom: 3.938em;
}
